# .github/workflows/robot-ci.yml
      - name: Run all Robot tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: |
          xvfb-run -a pipenv run robot \
            -P "$GITHUB_WORKSPACE" \
            --listener listeners.auto_artifacts.AutoArtifacts:results/failures \
            -d results \
            tests
